*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/* Header */
header{
    background-image: linear-gradient(to right, #4a1e1b, #4a1e1be6);
    color: white;
    padding: 0 2rem ;
    height: 4.8rem;
    display: grid;
    align-items: center;
}

.container-header{
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo{
    display: flex;
    margin: 0 10px;

}

.link-logo{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 0.05rem;
    font-family: 'pacifico';
    padding: 0 20px 5px 0;
    
}

.div-logo-img{
    width: 3.5rem;
    border-radius: 50%;
}

.div-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 5px;
}

.button-cart{
    background-color: #784538;
    border: none;
    border-radius: 20px;
    padding: 5px 1rem;
    color: white;
    font-size: 1rem;
}

.button-cart:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 200ms;
}

.img-coffee{
    margin-left: 10px;
}

.menu-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;   
}

.menu-link{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.75rem;

}

.menu-link:hover{
    color: red;
    transform: scale(1.05);
    transition-duration: 200ms;
}

/*Main*/
main{
    min-height: 600px;
    padding: 0 50px;
    background-color: #270c03;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-home{
    margin: 0 auto;
    padding: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.div-text-home{
    text-align: start;    
}

.title-text-home{
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.span-text-home{
    color: #784538;
    font-family: 'pacifico';
}

.button-text-home{
    background-color: #784538;
    border: 0.1px solid #fff;
    border-radius: 20px;
    padding: 5px 1rem;
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}

.button-text-home:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 200ms;
}

.img-home{
    width: 550px;
    transform: scale(1.25);
    animation: balanco 10s linear infinite;
}

/*importando keyframes*/
@keyframes balanco{
    0%{
        transform: scale(1) rotate(0deg);
    }
    50%{
        transform: scale(1) rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/*responsividade*/
@media screen and (max-width: 871px){
    .link-logo {
        font-size: 1.4rem;
    }

    .menu-link{
        display: none;
    }
}